@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --swiper-theme-color: #ffffff !important; 
    --swiper-navigation-color: #ffffff !important; 
    --swiper-pagination-color: #ffffff !important;
    --swiper-pagination-bullet-inactive-color: #9ca3af;
    --swiper-pagination-bullet-inactive-opacity: 0.5;
}